/* Variables ---------------------------------------------------------------------------------
|
|
*/

$colorLink: tomato;
$colorKeyline: #ddd;
$colorBody: #333;
$colorSecondary: #aaa;

$widthColumn: 32rem;
$widthWide: 48rem;
$widthFull: 100%;
$screenPadding: 1rem;

$breakpoint: $widthColumn * 1.2;

/*@media only screen and (max-width: 640px) {
    $widthColumn: 100% !global;
    $screenPadding: 1rem !global;
}*/

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(-.5rem);
    }
    40% {
      transform: translateY(-.25rem);
    }
  }

  /* Base ---------------------------------------------------------------------------------
|
|
*/

html, body {
    margin: 0;
    padding: 0;
    color: $colorBody;
}

body {
    //background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)) fixed, url(../components/Home/contours.svg) fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* Type ---------------------------------------------------------------------------------
|
|
*/

small {
    line-height: 1.4;
    margin: 0;
    color:#999;
}

h1 {
    margin: 4rem 0 1rem;
    color: #222;
    
    &.postTitle {
        font-size: 2rem;
    }
}

h4 {
    font-size: 1.2rem;
    line-height: 1.5;
    color: $colorSecondary;
    font-weight: 400;
    margin-bottom: 2rem;
}

a {
    color: $colorLink;
    text-decoration: none;
}

/* Homepage ---------------------------------------------------------------------------------
|
|
*/

.avatar {
    height: 4rem;
    display: inline-block;
    margin: 0 0 2rem -2px;
}

.bio {
    //background: linear-gradient(to bottom, rgba(22,35,38,.2), rgba(22,35,38,0.2)), url(../components/Home/kathmandu.jpg) no-repeat center;
    margin: 2rem 0 2rem;
    grid-column: 3 / -3;

    h1 {
        margin: 0;
        //font-family: "Usual", serif;
        font-weight: 900;
        font-size: 2rem;
        color: black;
        background: white;
    }

}

nav {
    list-style-type: none;
    grid-column: 2/-2;
    margin-bottom: 4rem;
    font-family: "Acumin Pro Wide";
    display: flex;
    align-items: center;

    .bouncingArrow {
        display: inline;
        margin: 0 .5rem;
        animation: bounce 3s infinite;
        position: relative;
        top: -2px;
    }

    > a {
        text-transform: uppercase;
        color: $colorSecondary;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 0.8rem;
        margin-right: 1rem;
        display: inline-flex;
        align-items: center;
        line-height: 2.2;
        position: relative;
        top: 2px;
    }

    .active {
        color: black;
    }
}

.socialIcons {
    display: inline-flex;

    a {
        opacity: 0.25;
        height: 1rem;
        margin: 0 1rem 0 0;
        transition: all 0.1s ease-in-out;

        &:hover { 
            opacity: 1;
            transform: scale(1.05);
        }
    }
    
    img {
        height: 1rem;
    }
}

.blogIndexLi {
    grid-column: 3 / -3;
    margin: .75rem 0;
    padding-bottom: 1.2em;
    //border-bottom: 2px solid #eee;
    transition: ease-in-out all 0.1s;

    &:hover {
        transform: scale(1.005);
    }

    &:active {
        transform: scale(0.9);
    }

    &.caseStudy.featuredImage {
        transform: scale(1.2);
    }
    
    h3 {
        font-size: 1rem;
        margin-bottom: .5rem;
        font-weight: 400;
        display: inline-block;
        border-bottom: 1px solid rgba(255,99,71,0.2);
    }
    a {
    }
    p {
        color: $colorSecondary;
        margin: 0;
    }

    small {
        display: block;
    }
    
    &.caseStudy {
        position: relative;
        margin: 2rem -1rem;
        background: #666;
        border-radius: 4px;
        padding: 0;
        overflow: hidden;
        border: none;

        h3 {
            border: none;
        }

        a {
            color: white;
        }

        small {
            color: rgba(255,255,255,0.5)
        }

        .featuredImage {
            max-height: 12rem;
            overflow: hidden;
            position: relative;
        
            img {
                width: 100%;
                //transform: scale(1.05);

                &:hover {
                    // transform: scale(0.5);
                }
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, rgba(22,35,38,.6), rgba(22,35,38,0.6));
            }
        }

        .description {
            display: inline-block;
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
        
    }
}

/* Post ---------------------------------------------------------------------------------
|
|
*/

.blogPostInner {
    display: grid !important;
    margin: 2rem auto 4rem;
    grid-template-columns: 1fr 1fr $widthColumn/2 $widthColumn/2 1fr 1fr;
    width: 100%;

    @media only screen and (max-width: $breakpoint) {
        width: $widthFull;
        grid-template-columns: 1fr 1fr $widthFull 1fr 1fr;
        padding: 0 $screenPadding;
    }

    > * {
        grid-column: 3 / -3;
    }

    > .gatsby-resp-image-link {
        grid-column: 1 / -1;
        margin-bottom: 2rem;
    }

    > .gatsby-resp-image-wrapper {
        max-width: auto;
    }
}

.postFrontmatter {
    width: $widthColumn;
    margin: 8rem auto 2rem;

    @media only screen and (max-width: $breakpoint) {
        width: $widthFull;
        padding: 0 $screenPadding;
    }
}

.blogPost.caseStudy .postFrontmatter {
    margin: 8rem 0;
    display: grid;
    grid-template-columns: 1fr 10fr 20fr 1fr;
    column-gap: 2rem;
    width: $widthFull;
    overflow:hidden;

    > * {
        grid-column: 2 / -3;
    }

    h1 {
        margin-top: 0;
    }

    > div {
        margin: auto 0;
    }

    .splashImage {
        grid-column: 3 / -2;
        overflow: hidden;
    }

    @media only screen and (max-width: $breakpoint) {
        grid-template-columns: $widthFull;
        width: $widthFull;

        > * {
            grid-column: 1 / -1;
        }

        .splashImage {
            grid-column: 1 / -1;
        }
    }
}

.gatsby-resp-image-link + small, .gatsby-resp-image-link + strong {
    display: block;
    line-height: 1.2;
    margin-top: .5rem;
}

.postMetadata {
    small {
        display: block;
        margin-bottom: .5rem
    }
}

.footnotes {
    margin: 2rem auto 4rem;
    
    > * {
        grid-column: 2 / -2;
    }

    p {
        margin-bottom: 0;
    }
}

.nextPrevious {
    list-style: none;
    width: $widthColumn;
    margin: 2rem auto;

    li {
        border: 1px solid #ddd;
        
        &:last-child {
            text-align: right;
        }
    
        a {
        display: block;
        padding: 1rem;
        border-radius: 2px;
        }
    }

    @media only screen and (max-width: $breakpoint) {
        width: $widthFull;
        padding: 0 $screenPadding;
    }
}

/* Footer ---------------------------------------------------------------------------------
|
|
*/

footer {
    width: $widthFull;
    border-top: 1px solid $colorKeyline;
    padding: $screenPadding;

    small {
        display: block;
        color: $colorSecondary;
        width: $widthFull;
        text-align: center;
        padding: 1rem 1rem;
    }
}

/* Components ---------------------------------------------------------------------------------
|
|
*/

button {
    color: white;
    padding: .5rem 2rem;
    background: $colorLink;
    border: none;
    border-radius: 1rem;
    transition: 0.1s ease-in-out;
    margin-left: -3px;
    cursor: pointer;
    box-shadow: 0 0px 4px rgba(0,0,0,0);

    &:hover {
        box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    }
}

.CloseButton {
    position: fixed;
    margin: 1rem 1rem 0;
    border: 2px solid $colorSecondary;
    border-radius: 50%;
    top: 0;
    z-index: 1000;

    a {
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
    }
    
    img   {
        margin: auto;
    }

    @media only screen and (max-width: $breakpoint) {
        a {
            width: 2rem;
            height: 2rem;
        }
    }
}

/* Layout ---------------------------------------------------------------------------------
|
|
*/

.container, .footnotes {
    display: grid;
    grid-template-columns: 1fr $widthColumn 1fr;
    grid-gap: 0;
    row-gap: 0;
    max-width: $widthColumn;
    margin: 4rem auto;

    @media only screen and (max-width: $breakpoint) {
        width: $widthFull;
        grid-template-columns: 1fr $widthFull 1fr;
        padding: 0 $screenPadding;
    }
}

.grid {
    grid-column: 2/-2;
    display: grid;
    grid-gap: 2rem;
    margin: 4rem 0;

    &.twoCol {
        grid-template-columns: 1fr 1fr;

        small, strong {
            display: block;
        }

        @media only screen and (max-width: $breakpoint) {
            grid-template-columns: 1fr;
        }
    }
    &.threeCol {
        grid-template-columns: 1fr 1fr 1fr;

        small, strong {
            display: block;
        }

        @media only screen and (max-width: $breakpoint) {
            grid-template-columns: 1fr;
        }
    }

    &.full {
        grid-column: 1 / -1;
        width: $widthFull;
        grid-gap: 1rem;
    }
}